{% extends "network/layout.html" %}

{% load static %}

{% block body %}
    <div class="container ">
    {% if user.is_authenticated %}
      <form id="compose-post" class="row justify-content-md-center">
        <div class="form-group p-0 mx-auto mb-0 col-lg-7 col-md-12 col-xs-12">
          <textarea maxlength="240" class="form-control border border-dark rounded " id="compose-body" name="compose-body" placeholder="Write a post ..." required></textarea>
        </div>
        <div class="col-lg-7 col-md-12 d-flex p-0 justify-content-center mx-auto">
          <input type="submit" class="btn btn-primary col-12 float-none" value="Post"/>
        </div>
      </form>
    {% endif %}
      <div id="post-view">
      </div>
      <nav class="row justify-content-md-center" aria-label="...">
        <ul class="pagination mx-auto">
          <li id="previous" class="page-item">
            <span class="page-link">Previous</span>
          </li>
          <li id="link_1" class="page-item"><span class="page-link"></span></li>
          <li id="link_2" class="page-item" >
            <span class="page-link"></span>
          </li>
          <li id="link_3" class="page-item"><span class="page-link"></span></li>
          <li id="link_4" class="page-item"><span class="page-link"></span></li>
          <li id="link_5" class="page-item"><span class="page-link"></span></li>
          <li id="next" class="page-item">
            <span class="page-link">Next</span>
          </li>
        </ul>
      </nav>
    </div>
    <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
{% endblock %}

{% block script %}
    <script src="{% static 'network/index.js' %}"></script>
{% endblock %}
