{% extends "network/layout.html" %}

{% load static %}

{% block body %}
    <div class="container ">
      <form id="compose-post" class="row justify-content-md-center">
        <div class="form-group p-0 mx-auto mb-0 col-lg-7 col-md-12 col-xs-12">
          <textarea maxlength="240" class="form-control border border-dark rounded " id="compose-body" name="compose-body" placeholder="Write a post ..." required></textarea>
        </div>
        <div class="col-lg-7 col-md-12 d-flex p-0 justify-content-center mx-auto">
          <input type="submit" class="btn btn-primary col-12 float-none" value="Post"/>
        </div>
      </form>
      <div id="post-view">
      </div>
      <nav aria-label="...">
        <ul class="pagination">
          <li id="previous" class="page-item">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
          </li>
          <li id="1" class="page-item"><a class="page-link" href="#">1</a></li>
          <li id="2" class="page-item active" aria-current="page">
            <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
          </li>
          <li id="3" class="page-item"><a class="page-link" href="#">3</a></li>
          <li id="4" class="page-item"><a class="page-link" href="#">...</a></li>
          <li d="next" class="page-item">
            <a class="page-link" href="#">Next</a>
          </li>
        </ul>
      </nav>
    </div>
    <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
{% endblock %}

{% block script %}
    <script src="{% static 'network/index.js' %}"></script>
{% endblock %}
